.chartWrapper {
  width: 100%;
  height: 100%;
}

.svg {
  overflow: visible;
}

/* .chartContent {
  width: 100%;
  height: 100%;
} */

/* @media (max-width: 1024px) { 
  .chartWrapper {
    height: 300px;
  }
} */