.coinDetail {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  padding: 0px 10px;
}

.coinDetailChart {
  width: 100%;
  height: 100%;
}

.coinDetailHeader {
  display: flex;
  margin-right: 100px;
  /* gap: 300px; */
}

.coinDetailTitle {
  font-size: 2rem;
  flex-grow: 1;
}

.coinDetailTicker {
  font-size: 1rem;
  color: var(--neutral-gray);
}

.coinDetailPrice {
  display: flex;
  /* flex-shrink: 0; */
  flex-direction: column;
  gap: 10px;
}

.priceChange {
  font-size: 1.3rem;
}

.priceWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.priceValue {
  font-size: 2rem;
}

.pricePercentage {
  font-weight: 600;
}

.priceTime {
  font-size: 1rem;
  margin-left: 10px;
}

.btcWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btcPercentage {
  font-weight: 600;
}

.btcValue {
  color:#5D667B
}

.btcTime {
  font-size: 0.8rem;
  margin-left: 10px;
}

.timeframe {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  color: var(--neutral-gray);
}

.chartTime {
  color: var(--neutral-gray);
}