.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__title {
  font-size:1.5rem;
  font-weight: 600;
}

.button {
  width: 50px;
  height: 50px
}

@media (max-width: 1024px) {
  .header {
    border-bottom: 1px solid var(--table-border-color);
  }
}