@import "./reset.css";

#root {
  height: 100vh;
  background-color: purple;
  display: grid;
  grid-template-rows: 60px 1fr;
}

.dashboard {
  display: grid;
  grid-template-columns: 200px 1fr;
}

header {
  background-color: yellow;
}

nav {
  background-color: brown;
}